interface: RGB25Base

globals:
  name: Other asset
  details: Asset description
  precision: 0
  terms:
    text: demo CFA asset
    media: ~
  issuedSupply: issued_supply

assignments:
  assetOwner:
    seal: closing_method:txid:vout
    amount: issued_supply
