consensus: bitcoin
testnet: true
issuer:
  codexId: qg8TdlRF-~RGz7bI-pceS960-evWjLKg-NcWTNWy-D9pIYBA
  version: 0
  api: r~mUOw
name: OtherToken
method: issue
timestamp: "2024-12-18T10:32:00-02:00"

global:
  - name: details
    unverified: Demo CFA asset
    verified: {}
  - name: name
    verified: Other asset
  - name: precision
    verified: centiMilli
  - name: issued
    verified: issued_supply

owned:
  - name: balance
    seal: txid:vout
    data: issued_supply
