consensus: bitcoin
testnet: true
codexId: TUiPwyY~-r0f7kk0-dy3sdfr-nsueQVC-3MtcWPy-xTNfCsM#chris-block-donald
name: Other token
method: issue
timestamp: "2024-12-18T10:32:00-02:00"

global:
  - name: name
    verified: Other asset
  - name: details
    unverified: Demo CFA asset
  - name: precision
    verified: centiMilli
  - name: circulating
    verified: issued_supply

owned:
  - name: owned
    seal: txid:vout
    data: issued_supply
