consensus: bitcoin
testnet: true
issuer:
  codexId: y6L7YTlM-5_v4LWy-oQsj5hV-I2imvxD-zRu0JBo-yaguhrY
  version: 0
  api: rLosfg
name: USDT
method: issue
timestamp: "2024-12-18T10:32:00-02:00"

global:
  - name: ticker
    verified: USDT
  - name: name
    verified: USD Tether
  - name: precision
    verified: centiMilli
  - name: issued
    verified: issued_supply

owned:
  - name: balance
    seal: txid:vout
    data: issued_supply
