consensus: bitcoin
testnet: true
codexId: qaeakTdk-FccgZC9-4yYpoHa-quPSbQL-XmyBxtn-2CpD~38#jackson-couple-oberon
name: USDT
method: issue
timestamp: "2024-12-18T10:32:00-02:00"

global:
  - name: name
    verified: USD Tether
  - name: ticker
    verified: USDT
  - name: precision
    verified: centiMilli
  - name: circulating
    verified: issued_supply

owned:
  - name: owned
    seal: txid:vout
    data: issued_supply
