consensus: bitcoin
testnet: true
codexId: C11V4boH-t0lNXdS-U6MDKet-us0NCCo-1cWX7xU-7ahdfqw#regard-genius-belgium
name: USDT
method: issue
timestamp: "2024-12-18T10:32:00-02:00"

global:
  - name: ticker
    verified: USDT
  - name: name
    verified: USD Tether
  - name: precision
    verified: centiMilli
  - name: circulating
    verified: issued_supply

owned:
  - name: amount
    seal: txid:vout
    data: issued_supply
